<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new Customer Enquiry from <%= @contact.name %></h1>
    <p>
        Customer Phone: <%= @contact.phone %><br>
        Customer Email: <%= @contact.email %><br>
        <br>
        Customer Message:<br>
        <br>
        <%= @contact.message %>
    </p>
    <p>Thanks for Ryan Murphy Website Design</p>
  </body>
</html>